//This file you will create your style for buttons inside of the project
.pmry_btn {
  font-size: $medium;
  background-color: $white;
  font-weight: 700;
  color: $smoky-black;
  padding: 0.5em 1em;
  border: 0.1em solid $smoky-black;
}