//Colors
$white: #fff;
$isabelline: #ececec;
$light-gray: #d1d1d1;
$smoky-black: #0c0910;
$granite-gray: #646266;
$quick-silver: #a6a5a8;

// Font-sizes
$xxx-large: 5em;
$xx-large: 3em;
$x-large: 2em;
$large: 1.8em;
$medium: 1.6em;
$samll: 1.4em;
$x-samll: 1.2em;

